@model HomeIndexViewModel

<h2>Voici les joueurs référencés sur l'application:</h2>

@foreach(var player in Model.Players)
{
    <p>@player.Name</p>
}

<h2>Voici les parties en cours :</h2>
<a asp-controller="Home" asp-action="GameCreation">Ajouter une partie</a>

<ul>
    @foreach (var game in Model.Games)
    {
        <li>
            <p onclick="showGamePlayers(@game.Id)">Partie de @game.BoardGame.Name numéro @game.Id</p>
            <ul id="gamePlayers-@game.Id" style="display: none;">
                @foreach (var player in game.Players)
                {
                    <li>@player.Name</li>
                }
            </ul>
        </li>
    }
</ul>


<h2>Voici les jeux :</h2>
@foreach (var boardgame in Model.BoardGames)
{
    <p>@boardgame.Name</p>
}